html {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: normal;
}
button {
  cursor: pointer;
}

/* CORPO */
.main button {
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 64vw;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  .container-wrapper {
    width: 100%;
  }
}
