html {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: normal;
}
button {
  cursor: pointer;
}

/* CORPO */
.main button {
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 64vw;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  .container-wrapper {
    width: 100%;
  }
}
::placeholder {
  font-weight: normal;
  color: #ccc;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: normal;
  color: #ccc;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: normal;
  color: #ccc;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: normal;
  color: #ccc;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-weight: normal;
  color: #ccc;
}
