* {
  font-family: 'Helvetica Neue';
}
h1 {
  font-weight: normal;
}

/* UTILS CLASS */
.bottom-space-20 {
  margin-bottom: 20px;
}
.bottom-space-30 {
  margin-bottom: 20px;
}
.top-space-20 {
  margin-top: 20px;
}
.section-line {
  width: 100%;
  height: 1px;
  background: #888888;
  margin: auto 0;
  border: none;
}
.title-section-top {
  display: flex;
  justify-content: center;
}
.button-section-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.button-section-default {
  width: 260px;
  height: 39px;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 1rem;
  color: #888888;
}
/* END UTILS CLASS */

/* CORPO */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-wrapper {
  width: 920px;
}

/* CABEÇALHO */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #707070;
  height: 400px;
  color: #fff;
}

.header-title {
  margin: 69px 0 24px 0;
  font-size: 1.25rem;
}
.header-title > strong {
  line-height: normal;
  margin-top: 8px;
  font-size: 2.5rem;
}

.header-background {
  bottom: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 120px solid #fff;
  border-right: 100vw solid transparent;
}

.header-subtitle {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 0.875rem;
}

.header-button {
  margin: 0 16px;
  width: 160px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #888888;
}
/* ENVIAR FORMULARIO */
.first-section {
  display: flex;
  justify-content: center;
  color: #888888;
}

.first-section-info {
  margin-right: 60px;
  width: 520px;
}

.first-section-title {
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.first-section-form {
  display: flex;
  width: 340px;
  flex-direction: column;
  text-align: left;
}
.first-section-form-label {
  margin-bottom: 8px;
  font-size: 0.75rem;
}
.first-section-form-input {
  padding: 8px;
  width: 322px;
  height: 22px;
  border: 1px solid #707070;
  font-size: 1rem;
  color: #707070;
}
.first-section-form-button {
  width: 340px;
  height: 39px;
  border: 1px solid #707070;
  border-radius: 4px;
  margin-top: 23px;
}

/* LISTAGEM DE PRODUTOS */
.second-section {
  margin: 90px 0 128px 0;
  color: #888888;
}

.second-section-title {
  width: 65%;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #888888;
}
.second-section-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.second-section-product-list::after {
  content: '';
  flex: auto;
}
.second-section-product {
  min-height: 460px;
  width: 200px;
}

.second-section-product-image {
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
}
.second-section-product-infos {
  font-size: 0.75rem;
  margin: 12px 0;
  text-align: left;
}

.second-section-product-name {
  font-size: 0.875rem;
}

.second-section-product-description {
  line-height: 16px;
}

.second-section-product-price {
  font-size: 0.875rem;
  font-weight: bold;
}
.second-section-product-button {
  width: 200px;
  height: 30px;
  border: 1px solid #707070;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  color: #888888;
}
.second-sections-info-wrapper {
  height: 110px;
}

.third-section {
  margin-bottom: 70px;
}
.third-section-title {
  width: 65%;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #888888;
}
.third-section-subtitle {
  font-weight: normal;
  margin: 44px 0 39px;
  color: #888888;
  text-align: center;
  font-size: 0.875rem;
}

.third-section-form {
  display: flex;
  justify-content: center;
  color: #888888;
}
.third-section-wrapper-control {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
.third-section-form-label {
  margin-bottom: 8px;
  font-size: 0.75rem;
}
.third-section-form-input {
  padding: 8px;
  width: 322px;
  height: 22px;
  border: 1px solid #707070;
  font-size: 1rem;
  color: #707070;
}
.third-section-button {
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #707070;
  height: 293px;
  color: #fff;
}
.footer-background {
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 120px solid #fff;
  border-right: 100vw solid transparent;
}
.footer-text {
  font-size: 0.75rem;
  line-height: 22px;
}
