.third-section {
  margin-bottom: 70px;
}
.third-section-title {
  width: 65%;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #888888;
}
.third-section-subtitle {
  font-weight: normal;
  margin: 44px 0 39px;
  color: #888888;
  text-align: center;
  font-size: 0.875rem;
}

.third-section-form {
  display: flex;
  justify-content: center;
  color: #888888;
}
.third-section-control {
  display: flex;
}
.third-section-wrapper-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 30px;
}
.third-section-form-label {
  margin-bottom: 8px;
  font-size: 0.75rem;
}
.third-section-form-input {
  padding: 8px;
  width: 23vw;
  height: 22px;
  border: 1px solid #707070;
  font-size: 1rem;
  color: #707070;
}
.third-section-button {
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  .third-section-title {
    width: 80vmax;
  }
  .third-section-form {
    padding: 0 16px;
  }
  .third-section-control {
    flex-direction: column;
    width: 100%;
  }
  .third-section-form-input {
    width: 100%;
    box-sizing: border-box;
  }
  .third-section-wrapper-control {
    margin: 8px 0;
  }
}
